body {
  margin: 0;
  background-color: #F2F2F2;
}

.header {
  height: 60px;
  background-color: #FFFFFF;
}

.logo {
  width: 193px;
  display: inline-block;
}

.user_icon {
  width: 55px;
  height: 55px;
}

.user_name {
  color: #575757;
  height: 22px;
  text-align: left;
  letter-spacing: -0.57px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  position: absolute;
  top: 23px;
  font-weight: bold;
}

.ramal {
  left: 430px;
  font-size: 12px;
  height: 16px;
  top: 30px;
}

.grupo {
  left: 512px;
  top: 30px;
  font-size: 12px;
}

.rectangle119 {
  width: 144px;
  height: 40px;
  position: absolute;
  left: 820px;
  background-color: #8E24AA;
  top: 10px;
  border-radius: 5px;
}

.phonePath {
  width: 18px;
  height: 18px;
  margin-top: 11px;
  margin-left: 13px;
}

.chamada {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  position: absolute;
  top: 6px;
  left: 41px;
}

.zero {
  position: absolute;
  top: 22px;
  font-size: 12px;
}

.rectangle125 {
  width: 167px;
  height: 36px;
  background-color: #FFFFFF;
  border: 2px solid #B7BEC5;
  border-radius: 5px;
  position: absolute;
  left: 974px;
  top: 10px;
} 

.btnInPausas {
  width: 6px;
  height: 10px;
  position: absolute;
  left: 148.22px;
  top: 13px;
}

.pausas {
  font-family: 'Roboto', sans-serif;
  color: #B7BEC5;
  position: absolute;
  top: 8px;
  left: 10px;
}

.lgt {
  left: 1270px;
  top: 23px;
  font-size: 14px;
}

.lgtBtn {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 1323px;
  top: 22px;
}

.leftBar {
  width: 60px;
  height: 640px;
  background-color: #FFFFFF;
  position: absolute;
  box-shadow: 2px 0px 4px #0000001A;
}

.postImg {
  height: 25px;
  width: 27px;
  position: absolute;
  left: 17px;
  top: 116px;
}

.hr {
  color: #DDDDDD;
  width: 37px;
  border-top: 1px solid #DDDDDD;
  position: absolute;
  top: 164px;
  left: 12px;
  width: 37px;
  height: 0px;
}

.handImg {
  height: 20px;
  width: 27px;
  top: 190px;
}

.peopleImg {
  top: 258px;
  width: 27px;
  height: 27px;
}

.inboxImg {
  top: 334px;
  width: 27px;
  height: 19px;
}

.chatTab {
  width: 987px;
  height: 567px;
  background-color: #FFFFFF;
  border-radius: 5px;
  position: absolute;
  top: 70px;
  left: 74px;
}

.faceImg {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 16.2px;
  left: 20px;
}

.chatTabHeader {
  color: #005DAA;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  width: 270px;
  height: 23px;
  position: absolute;
  top: 12px;
  left: 42px;
}

.zerofifteen {
  color: #B7BEC5;
  left: 20px;
  top: 35px;
}

.btnTogether {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 11px;
}

.showTime {
  position: absolute;
  color: #B7BEC5;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  top: 81.5px;
  left: 470px;
}

.sendChatBalloon {
  width: 448px;
  height: 57px;
  background-color: #E3E3E3;
  border-radius: 20px 20px 0px 20px;
  position: absolute;
  top: 100px;
  left: 519px;
}

.inChatBalloon {
  color: #575757;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  width: 401px;
  height: 40px;
  position: absolute;
  left: 25px;
  top: 8.5px;
}

.writeArea {
  width: 806px;
  height: 40px;
  background-color: #FFFFFF;
  position: absolute;
  top: 506px;
  left: 20px;
  border-radius: 50px;
  border: 1px solid #B7BEC5;
}

.textAreaText {
  color: #B7BEC5;
  font-family: 'Roboto', sans-serif;
  size: 12px;
  position: absolute;
  top: 11px;
  left: 40px;
}

.sendIcon {
  width: 18px;
  height: 15px;
  position: absolute;
  top: 12.5px;
  right: 17px;
}

.messageIcon {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 515px;
  right: 119px;
}

.attachLabel {
  width: 40px;
  height: 40px;
  background-color: #F2F2F2;
  border-radius: 50%;
  position: absolute;
  right: 65px;
  bottom: 20px;
}

.attachIcon {
  height: 24px;
  width: 12px;
  position: absolute;
  right: 79.5px;
  top: 514px;
  z-index: 1;
}

.micIcon {
  width: 15px;
  height: 21px;
  position: absolute;
  right: 32px;
  top: 515px;
}

.lidaText {
  font-family: 'Roboto', sans-serif;
  font-size: 8px;
  position: absolute;
  top: 62px;
  width: 15px;
  height: 9px;
  left: 433px;
  color: #B7BEC5;
}

.recieveChatBalloon {
  width: 254px;
  height: 38px;
  position: absolute;
  left: 20px;
  top: 214.5px;
  border: 1px solid #575757;
  border-radius: 20px 20px 20px 0px;
}

.blackStar {
  width: 10px;
  height: 9px;
  position: absolute;
  left: 4px;
  top: 24px;
}

.scrool {
  height: 389px;
  width: 10px;
  background-color: #E8EAEB;
  position: absolute;
  border-radius: 63px;
  top: 96.41px;
  left: 972.27px;
}

.boldScrool {
  background-color: #B7BEC5;
  border-radius: 63px;
  height: 50px;
}

.rightBar {
  background-color: #FFFFFF;
  width: 277px;
  height: 619px;
  position: absolute;
  top: 70.5px;
  left: 1079px;
}

.detalhesHeader {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #005DAA;
  position: absolute;
  left: 20px;
  top: 25.67px;
}

.material-icons {
  color: #B7BEC5;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.closeIcon {
  position: absolute;
  top: 23px;
  left: 237px;
}

.phoneIcon {
  width: 7px;
  height: 11px;
  position: absolute;
  top: 80px;
  left: 22.93px;
}

.longText {
  width: 220px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  position: absolute;
  top: 78px;
  left: 35.42px;
  letter-spacing: -0.43px;
  line-height: 17px;
}

.litteWhite {
  color: #575757;
}

.othersText {
  font-family: 'Roboto', sans-serif;
  color: #575757;
  font-size: 12px;
  position: absolute;
  top: 251px;
  left: 20px;
}

.othersIcon {
  position: absolute;
  top: 246px;
  left: 237px;
}

.addNewTab {
  width: 132px;
  height: 42px;
  position: absolute;
  background-color: #005DAA;
  position: absolute;
  left: 289px;
  top: 648px;
  border-radius: 6px;
}

.gestor {
  font-family: 'Roboto', sans-serif;
  font-size: 8px;
  color: #FFFFFF;
  position: absolute;
  left: 17.42px;
  top: 6px;
}

.cancelIcon {
  color: #FFFFFF;
  font-size: 12px !important;
  position: absolute;
  left: 117px;
  top: 3.5px;
}

.newName {
  font-family: 'Poppins', sans-serif;
  color: #005DAA;
  font-size: 10px;
  position: absolute;
  left: 18px;
  top: 3px;
  line-height: 13px;
  width: 92px;
}

.notification {
  width: 20px;
  height: 10px;
  border-radius: 5px;
  background-color: #005DAA;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 8px;
  position: absolute;
  left: 110px;
  bottom: 37px;
}

.tinyRedCircle {
  width: 5px;
  height: 5px;
  background-color: #ED4E50;
  border-radius: 50%;
  position: absolute;
  left: 18px;
  bottom: 5px; 
}

.sideCircle {
  font-family: 'Roboto',sans-serif;
  font-size: 8px;
  color: #575757;
  position: absolute;
  left: 27px;
  bottom: 2.7px;
}

.moreSection {
  width: 46px;
  height: 42px;
  background-color: #B7BEC5;
  position: absolute;
  left: 1015px;
  top: 648px;
  border-radius: 6px;
}

.threedots {
  width: 17px;
  height: 4px;
  position: absolute;
  left: 14.32px;
  top: 18.32px;
}