body {
  margin: 0;
  background-color: #F2F2F2;
}

.header {
  height: 60px;
  background-color: #FFFFFF;
}

.logo {
  width: 193px;
  display: inline-block;
}

.user_icon {
  width: 55px;
  height: 55px;
}

.user_name {
  color: #575757;
  width: 150px;
  height: 22px;
  text-align: left;
  letter-spacing: -0.57px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  position: absolute;
  top: 23px;
  font-weight: bold;
}

.ramal {
  left: 406px;
  font-size: 12px;
  width: 74px;
  height: 16px;
  top: 30px;
}

.grupo {
  left: 490px;
  top: 30px;
  font-size: 12px;
}

.rectangle119 {
  width: 144px;
  height: 40px;
  position: absolute;
  left: 820px;
  background-color: #8E24AA;
  top: 10px;
  border-radius: 5px;
}

.phonePath {
  width: 18px;
  height: 18px;
  margin-top: 11px;
  margin-left: 13px;
}

.chamada {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  position: absolute;
  top: 6px;
  left: 41px;
}

.zero {
  position: absolute;
  top: 22px;
  font-size: 12px;
}

.rectangle125 {
  width: 167px;
  height: 36px;
  background-color: #FFFFFF;
  border: 2px solid #B7BEC5;
  border-radius: 5px;
  position: absolute;
  left: 974px;
  top: 10px;
} 

.btnInPausas {
  width: 6px;
  height: 10px;
  position: absolute;
  left: 148.22px;
  top: 13px;
}

.pausas {
  font-family: 'Roboto', sans-serif;
  color: #B7BEC5;
  position: absolute;
  top: 8px;
  left: 10px;
}

.lgt {
  left: 1270px;
  top: 23px;
  font-size: 14px;
}

.lgtBtn {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 1323px;
  top: 22px;
}

.leftBar {
  width: 60px;
  height: 640px;
  background-color: #FFFFFF;
  position: absolute;
  box-shadow: 2px 0px 4px #0000001A;
}

.postImg {
  height: 25px;
  width: 27px;
  position: absolute;
  left: 17px;
  top: 116px;
}

.hr {
  color: #DDDDDD;
  width: 37px;
  border: 1px solid #DDDDDD;
  position: absolute;
  top: 164px;
  left: 12px;
  width: 37px;
  height: 0px;
}

.handImg {
  height: 20px;
  width: 27px;
  top: 190px;
}

.peopleImg {
  top: 258px;
  width: 27px;
  height: 27px;
}

.inboxImg {
  top: 334px;
  width: 27px;
  height: 19px;
}